*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 20vh;
    background-color: black;
    margin-bottom: 1px;
}

.navbar__logo{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.navbar__logo img{
    width: 250px;
    height: 60px;
    margin-left: 100px;
}

.navbar__logo-title{
    color: white;
    margin: auto;
}


.navbar__list{
    list-style: none;
    display: flex;
    justify-content: center;
    border-top: solid 1px white;
}

.navbar__list a{
    text-decoration: none;
    color: white;
}

.navbar__list-item{
    align-items: center;
    padding: 10px 40px;
    font-size: large;
    border-left: solid 1px white;
}


